# OS
.DS_Store
Thumbs.db

# Working/source image files not used by the site directly
img/Backup/
img/\[Originals\]/
img/banner_groot.png
img/background_groot.png
img/bier_en_brood_logo.png
img/bier_en_brood_logo_groot.png
img/banner_transparant.png
img/Strange Brew Logo - transparant.png
img/ChatGPT Image*.png
